---
apiVersion: kubeadm.k8s.io/v1alpha1
kind: MasterConfiguration
api:
  advertiseAddresses:
{% for address in kubernetes_api_addresses %}
  - {{ address }}
{% endfor %}
  bindPort: {{ kubernetes_api_port }}
  externalDNSNames:
{% for name in kubernetes_api_externalDNSNames %}
  - {{ name }}
{% endfor %}
networking:
  dnsDomain: {{ kubernetes_dnsDomain }}
  serviceSubnet: {{ kubernetes_serviceSubnet }}
  podSubnet: {{ kubernetes_podSubnet }}
secrets:
  givenToken: {{ kubernetes_token }}